@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: Lato,sans-serif;
    background: url(plan-page.jpg);
    font-size: 16px;
    width: 1180px;
    margin: 0 auto;
    background-size: cover;
}

section {
    text-align: center;
    padding-top: 100px;
}


article {
    background-color: #262626;
    Margin: 80px 20px 0 20px;
    Border: 5px solid #424242;
    display: inline-block;
    Color: #a1a1a1;
    box-sizing: border-box;
    width: 27%; /*27% × 1180px = 318.6px*/
    margin-top: 30px;
}

article h1 {
    font-size: 1.5em; /* 16px * 1,5=24px */
    color: #FFF;
}

p.price {
    font-size: 3em; /* 16px * 3 = 48px */
    font-weight: bold;
    color: #27dcc4;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 5px 0;
}

button {
    background-color: #27dcc4;
    color: #FFF;
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 0.9em; /* 16px * 0,9 =14.4px */
    cursor: pointer;
    border: none;
}

button:hover {
    background: #ACACAC;
}